body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    align-items: center;
    background: linear-gradient(300deg, #151841, #ff4c68, rgb(21, 24, 65));
    background-size: 180% 180%;             
    background-color: animate 9s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#contentDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 350px;
    height: 450px;
    border-radius: 5%;
    box-shadow: 2rem 2rem 1.5rem;
}

.insideBox {
    display: flex;
    width: 90%;
}

#username, #password {
    width: 100%;
    border: 0px;
    color: white;
    border-bottom: 1.5px solid rgb(117, 116, 116);
    background-color: #222222;
}

#username:focus, #password:focus {
    outline: none;
    color: white;
}

#profile {
    width: 75px; 
    border-radius: 50%;
    position: relative;
    top: 35px;
}

.icons {
    width: 10%; 
    position: relative;
    border-bottom: 1.5px solid rgb(117, 116, 116);
}

#loginBox {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}

#button {
    background-color: rgb(24, 21, 64);
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 30%;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.4rem rgb(0, 0, 0);
}

#forget {
    position: relative;
    bottom: 28px;
    left: 98px;
    color: rgb(188, 188, 188);
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

h1 {
    font-size: 1.15rem;
    padding-top: 35px;
    color: white;
}

#aboveH2 {
    margin: 0px;
    color: white;
    font-size: 1.3rem;
    text-shadow: 0.08rem 0.08rem 0.05rem white;
}

#bottomH2 {
    color: rgb(117, 116, 116);
    font-size: 0.8rem;
    position: relative;
    
}

#signup {
    color: rgb(188, 188, 188);
    text-decoration: none;
}

