<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="profile.png" alt="" id="profile">
    <div id="contentDiv">
        <h1> LOGIN </h1>
        <h2 id="aboveH2"></h2>
        <div class="insideBox">
            <input type="text" placeholder="Username" name="User" id="username">
            <img src="profile2.png" alt="" class="icons">
        </div>

        <div class="insideBox">
            <input type="password" placeholder="Password" name="Password" id="password">
            <img src="lock.png" alt="" class="icons">
        </div>
        
        <a href="" id="forget">Forget Password ?</a>

        <div id="loginBox">
            <button id="button">Login</button>
        </div>
        
        <h2 id="bottomH2">Don't have an account? <a href="" id="signup">Sign up</a></h2>
    </div>

    <script src="script.js"></script>
</body>

</html>